einops
huggingface-hub
networkx
numpy
opencv-python
packaging
pathlib
pillow
safetensors
scipy
setuptools
sympy
tensorboard
timm
tokenizers
torch
torch-fidelity
torchvision
tqdm
transformers
triton
urllib3
wheel
